.body{
    margin-top: -8px;
    margin-left: -8px;
    margin-bottom: -8px;
}
.NavBackground{
    background-color: #161D27;
    color: white;
    height: 80px;
}
.NavTitle{
    font-family: 'Roboto Slab', serif;
    font-size: 40px; 
    font-weight: 600;
    margin-left: 90px;
    padding-top: 10px;
}
.listBackground{
    display: flex;
    justify-content: space-around;
    background: url(http://i1.cdn-image.com/__media__/pics/12471/bodybg.png);
    height:max-content;
}
.UnivBackground{
    display: flex;
    justify-content: space-around;
    background: url(http://i1.cdn-image.com/__media__/pics/12471/bodybg.png);
}
.listOuterBox{
    width:800px;
    background: url(http://i1.cdn-image.com/__media__/pics/12471/kwbg.jpg);
    padding-bottom: 20px;
}
.listTitle{
    font-family: 'Roboto Slab', serif;
    font-size: 35px; 
    font-weight: 600;
    margin-left: 90px;
    padding-top: 10px;
    margin-bottom: 10px;
    color: white;  
}
.listTitle1{
    font-family: 'Roboto Slab', serif;
    font-size: 35px; 
    font-weight: 600;
    padding-top: 50px;
    margin-bottom: 50px;
    color: white;  
    text-align: center;
}
.arrow{
    margin-right: 10px;
}
.universityName{
    margin-left: 100px;
    color: antiquewhite;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    font-size: 18px; 
    margin-top: 7px;
}
.universityName:hover{
    color:darksalmon;
    cursor: pointer;
    transition-duration: 0.3s;
}
.logo{
    margin-right: 20px;
}
.detailsTitle{
    color: white;
    font-family: 'Roboto Slab', serif;
    margin-left: 100px;
    margin-bottom: 15px;
    font-size: 25px;
    text-decoration: underline;
}
.details{
    color: white;
    font-family: 'Roboto Slab', serif;
    display: inline;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 20px;
}
.linkto{
    text-decoration: none;
    color: white;
}
.load{
    text-align: center;
    margin-top: 230px;
}
@media screen and (max-width:1150px){
    .listOuterBox{
      width: 750px;
    }   
    .listTitle{
       font-size: 38px;
       margin-top: 10px;
       margin-bottom: 10px;
    }
    .universityName{
       font-size: 23px;
       margin-top: 13px;
    }
    .NavTitle{
       margin-left: 60px;
    }
}
@media screen and (max-width:850px){
    .listOuterBox{
       width: 700px;
    }
    .listTitle{
       font-size: 40px;
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 35px;
    }
    .universityName{
       font-size: 25px;
       margin-top: 15px;
       margin-left: 45px;
    }
    .NavTitle{
       margin-left: 50px;
    }
}
@media screen and (max-width:750px){
    .listOuterBox{
       width: 580px;
    }
    .listTitle{
       font-size: 35px;
       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 35px;
    }
    .universityName{
       font-size: 20px;
       margin-top: 15px;
       margin-left: 45px;
    }
    .NavTitle{
        margin-left: 40px;
    }
}
@media screen and (max-width:650px){
    .listOuterBox{
       width: 500px;
    }
    .listTitle{
       font-size: 30px;
       margin-top: 10px;
       margin-bottom: 10px;
       margin-left: 25px;
    }
    .universityName{
       font-size: 18px;
       margin-top: 15px;
       margin-left: 35px;
    }
    .NavTitle{
        margin-left: 40px;
    }
    .detailsTitle{
        margin-left: 40px;
        font-size: 20px;
    }
    .details{
        margin-top: 0px;
    }
}
@media screen and (max-width:500px){
    .listTitle{
       font-size: 25px;
       margin-top: 10px;
       margin-bottom: 10px;
       margin-left: 20px;
    }
    .universityName{
       font-size: 17px;
       margin-top: 15px;
       margin-left: 25px;
    }
    .NavTitle{
        margin-left: 40px;
        font-size: 35px;
        padding-top: 15px;
    }
    .detailsTitle{
        margin-left: 20px;
        font-size: 20px;
    }
    .details{
        font-size: 18px;
        margin-top: 4px;
    }
    .listTitle1{
        font-size: 28px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media screen and (max-width:400px){
    .listTitle{
       font-size: 25px;
       margin-top: 10px;
       margin-bottom: 10px;
       margin-left: 20px;
    }
    .universityName{
       font-size: 17px;
       margin-top: 15px;
       margin-left: 25px;
    }
    .NavTitle{
        margin-left: 40px;
        font-size: 35px;
        padding-top: 15px;
    }
    .detailsTitle{
        margin-left: 10px;
        font-size: 18px;
    }
    .details{
        font-size: 14px;
        margin-top: 4px;
    }
    .listTitle1{
        font-size: 25px;
        padding-left: 5px;
        padding-right: 5px;
    }
}